.service-calculator {
  position: relative;
  min-height: calc(100vh - 4rem);
  height: 100%;
  padding: 2rem;
  margin: 0 15rem;
  box-shadow: 5px 5px 12px 0px rgba(148, 148, 165, 1);
}

.service-calculator-header {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #1976d2;
  padding: 0 0 1rem;
  border-bottom: #1976d2 1px solid;
}

.service-calculator-content {
  margin: 2rem 0;
}

.service-years-container {
  float: left;
  width: 50%;
  margin-left: 3rem;
}

.service-list-container {
  margin-bottom: 1rem;
}

.button-container {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
}

.price {
  font-size: 22px;
  position: absolute;
  bottom: 1.2rem;
  right: 9rem;
  font-weight: 600;
  color: #1976d2;
}

@media screen and (max-width: 1024px) {
  .service-calculator {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .service-calculator {
    margin: 0;
    padding: 1rem 1rem 5rem;
    min-height: 100%;
    box-shadow: none;
  }
  .service-years-container {
    margin-left: 2rem;
  }  
  .price {
    bottom: 1.5rem;
    font-size: 16px;
  }
}
